# Ignore node_modules directory
node_modules/

# Ignore .env file containing sensitive information
.env

# Ignore IDE and editor-specific files
.vscode/
.idea/

# Ignore npm debug logs
npm-debug.log*

# Ignore production build files
build/
dist/

# Ignore local development files
*.log
*.bak
*.sqlite
